/* From Uiverse.io by aryamitra06 */ 
.loader,.loader-bg{
  display: flex;
  justify-content: center;
  align-items: center;
opacity:1 ;
  z-index: 10;
}
.loader-bg {
  position: fixed; /* Ensure it covers the viewport */
  top: 0;
  left: 0;
  width: 100vw; /* Use viewport width */
  height: 100vh; /* Use viewport height */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2; /* Ensure it's on top */
}

.loader {
  position: relative; /* Relative to the loader-bg */
  display: flex;
  justify-content: center;
  align-items: center;
}

.bar {
  display: inline-block;
  width: 3px;
  height: 20px;
  background-color: rgba(0, 0, 0);
  border-radius: 10px;
  animation: scale-up4 1s linear infinite;
}
.loader.fade-out {
  opacity: 0;
}

.bar:nth-child(2) {
  height: 35px;
  margin: 0 5px;
  animation-delay: .25s;
}

.bar:nth-child(3) {
  animation-delay: .5s;
}

@keyframes scale-up4 {
  20% {
    background-color: #ffffff;
    transform: scaleY(1.5);
  }

  40% {
    transform: scaleY(1);
  }
}